.alert,.alert-danger{
  ul{
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

.error {
    padding:auto;
  }
.error p{
    text-align: center;
  }
.error img{
    display: block;
    margin: 0 auto;
  }