// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}

/*body {*/
/*  padding: 0;*/
/*  width: 100%;*/
/*  background-size: cover;*/
/*  background-image: url("images-master/header.jpg");*/
/*  background-attachment: fixed;*/
/*  text-align: center;*/
/*  margin:0;*/
/*}*/

/*footer {*/
/*  position: absolute;       */
/*  bottom: 0;*/
/*  width: 100%;*/
/*  height: 75px;*/
/*}*/

footer {
  position: absolute;       
  bottom: 0;
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0px 20px;
  color: white;
  margin:0 auto;
  font-size: 12px;
  height: 75px;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color:#2c3e50;
  height: 50px;
}

// header ul{
//     margin:0 auto;
//     list-style: none;
// }

// header ul:after{
//     content: "";
//     display: block;
//     clear: both;
// }

// header li{
//     float: left;
//     height:16px;
//     width:auto;
// }

// header ul a{
//     display: block;
//     padding: 15px;
//     text-decoration: none;
//     color: white;
// }

.navbar-default {
    border: 0;
    padding: 5px 25px;
}
.navbar {
    background-color: transparent;
    color: red;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.main-header {
  padding-top: 16%;
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("header.jpg");
  background-attachment: fixed;
}


.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

.about {
  background-color: white;
  color: #333;
  padding: 80px
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom:185px;
}

.page-top-btn {
  // display: block;
  display: none;
  //without bellow, other elements hide the button 
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover {
  opacity: 0.7;
  }
}

.bottom-adaptor{
  height: 75px;
  width:auto;
}

.devise-content h1,h2,h3{
  text-align: center;
}

.notice{
  color: black;
}

.alert{
  color: red;
}
